.version.branding /* version checker */
{
	color: #0000EA;
	background-color: #68EA84;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#ppu296
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 21px;
}

#pu296
{
	width: 0.01px;
}

#u296
{
	z-index: 2;
	width: 84px;
	margin-right: -10000px;
}

#u290
{
	z-index: 20;
	width: 84px;
	margin-right: -10000px;
}

#u290:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u332
{
	z-index: 56;
	width: 248px;
	background-color: transparent;
	margin-top: 138px;
	position: relative;
}

#u345
{
	z-index: 60;
	width: 248px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u345_clip
{
	overflow: hidden;
	width: 248px;
	height: 153px;
}

#u345_img
{
	margin-left: -12px;
	margin-right: -12px;
}

#pppu152
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 289px;
}

#ppu152
{
	width: 0.01px;
	margin-left: 134px;
}

#u152
{
	z-index: 5;
	width: 114px;
	margin-right: -10000px;
}

#u154
{
	z-index: 9;
	width: 114px;
	margin-right: -10000px;
	left: 134px;
}

#u339
{
	z-index: 58;
	width: 382px;
	background-color: transparent;
	margin-top: 138px;
	position: relative;
}

#u351
{
	z-index: 62;
	width: 248px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#u351_img
{
	padding-bottom: 111px;
}

#ppu155
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 691px;
}

#u155
{
	z-index: 13;
}

#u222-4
{
	z-index: 22;
	margin-right: -10000px;
	margin-top: 90px;
}

#u172
{
	z-index: 37;
	width: 114px;
	height: 111px;
	margin-right: -10000px;
}

#u172:hover
{
	width: 112px;
	height: 109px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u172.MuseLinkActive
{
	width: 114px;
	height: 111px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u172.MuseLinkActive
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u176
{
	z-index: 42;
	width: 114px;
	margin-right: -10000px;
}

#u176_states
{
	height: 21px;
	width: 114px;
}

#u220-4
{
	z-index: 26;
	margin-right: -10000px;
	margin-top: 90px;
}

#u173
{
	z-index: 38;
	width: 114px;
	padding-bottom: 90px;
	margin-right: -10000px;
}

#u173:hover
{
	width: 112px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u179-4
{
	z-index: 52;
	width: 114px;
	margin-right: -10000px;
}

#ppu156
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 825px;
}

#u156
{
	z-index: 17;
}

#u152_states,#u154_states,#u155_states,#u156_states
{
	height: 19px;
	width: 114px;
}

#pu222-4,#ppu209
{
	width: 0.01px;
	margin-top: 139px;
}

#u209
{
	z-index: 35;
	height: 21px;
	width: 114px;
	margin-right: -10000px;
}

#u174
{
	z-index: 39;
	width: 114px;
	margin-right: -10000px;
}

#u174:hover
{
	width: 112px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u177-4
{
	z-index: 44;
	width: 114px;
	margin-right: -10000px;
	margin-top: 90px;
}

#pu220-4,#ppu218
{
	width: 0.01px;
	margin-top: 15px;
}

#u218
{
	z-index: 31;
	height: 21px;
	width: 114px;
	margin-right: -10000px;
}

#u175
{
	z-index: 40;
	width: 114px;
	margin-right: -10000px;
}

#u175:hover
{
	width: 112px;
	min-height: 0px;
	margin: -1px -10001px -1px -1px;
}

#u173.MuseLinkActive,#u174.MuseLinkActive,#u175.MuseLinkActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u178-4
{
	z-index: 48;
	width: 114px;
	margin-right: -10000px;
	margin-top: 90px;
}

#u404-6
{
	z-index: 64;
	width: 114px;
	min-height: 13px;
	background-color: transparent;
	line-height: 10px;
	font-size: 9px;
	text-align: right;
	letter-spacing: 2px;
	margin-top: 237px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

