.version.index /* version checker */
{
	color: #0000FA;
	background-color: #A8389E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu296
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 21px;
}

#u296
{
	z-index: 2;
	width: 84px;
	margin-right: -10000px;
}

#u290
{
	z-index: 20;
	width: 84px;
	margin-right: -10000px;
}

#u290:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u152
{
	z-index: 5;
	width: 114px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 423px;
}

#u154
{
	z-index: 9;
	width: 114px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 557px;
}

#u155
{
	z-index: 13;
	width: 114px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 691px;
}

#ppu156
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 825px;
}

#u156
{
	z-index: 17;
}

#u152_states,#u154_states,#u155_states,#u156_states
{
	height: 19px;
	width: 114px;
}

#u399-6
{
	z-index: 22;
	width: 114px;
	min-height: 13px;
	background-color: transparent;
	line-height: 10px;
	font-size: 9px;
	text-align: right;
	letter-spacing: 2px;
	margin-top: 464px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

