#u296,#u290
{
	background-color: transparent;
	position: relative;
}

#u290:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u152_states
{
	vertical-align: top;
	background: url("../images/u152_states.png") no-repeat 0px 0px;
}

#u152:hover #u152_states
{
	background: url("../images/u152_states-r.png") no-repeat 0px 0px;
}

#u152.MuseLinkActive #u152_states
{
	background: url("../images/u152_states-a.png") no-repeat 0px 0px;
}

#u154_states
{
	vertical-align: top;
	background: url("../images/u154_states.png") no-repeat 0px 0px;
}

#u154:hover #u154_states
{
	background: url("../images/u154_states-r.png") no-repeat 0px 0px;
}

#u154.MuseLinkActive #u154_states
{
	background: url("../images/u154_states-a.png") no-repeat 0px 0px;
}

#u155_states
{
	vertical-align: top;
	background: url("../images/u155_states.png") no-repeat 0px 0px;
}

#u155:hover #u155_states
{
	background: url("../images/u155_states-r.png") no-repeat 0px 0px;
}

#u155.MuseLinkActive #u155_states
{
	background: url("../images/u155_states-a.png") no-repeat 0px 0px;
}

#u152,#u154,#u155,#u156
{
	position: relative;
}

#u156_states
{
	vertical-align: top;
	background: url("../images/u156_states.png") no-repeat 0px 0px;
}

#u156:hover #u156_states
{
	background: url("../images/u156_states-r.png") no-repeat 0px 0px;
}

#u156.MuseLinkActive #u156_states
{
	background: url("../images/u156_states-a.png") no-repeat 0px 0px;
}

